@* TODO: Handle catalogue administration tasks via the admin service. *@
<div style="margin-top:32px; display:flex; justify-content:flex-start;">
    <a href="@Url.Action("AddBookView", "Admin")" class="btn btn-primary" style="min-width:180px;">Add Book</a>
</div>