@* Admin sub-navigation using unified subnav component with scroll indicators *@

<nav class="subnav subnav--scrollable" aria-label="Admin sub-navigation">
    <button class="subnav__scroll-btn subnav__scroll-btn--left" aria-label="Scroll left" type="button">
        <svg class="subnav__scroll-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
    </button>
    
    <div class="subnav__container">
        <ul class="subnav__list" id="adminNavList">
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <span class="subnav__label">Dashboard</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Stories" asp-action="Manage">
                    <span class="subnav__label">Manage Stories</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Events" asp-action="Manage">
                    <span class="subnav__label">Manage Events</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Books" asp-action="Manage">
                    <span class="subnav__label">Manage Books</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Reports" asp-action="Index">
                    <span class="subnav__label">Reports</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="Hours" asp-action="Index">
                    <span class="subnav__label">Approve Hours</span>
                </a>
            </li>
            <li class="subnav__item">
                <a class="subnav__link" asp-area="Admin" asp-controller="SiteSettings" asp-action="Index">
                    <span class="subnav__label">Site Settings</span>
                </a>
            </li>
        </ul>
    </div>
    
    <button class="subnav__scroll-btn subnav__scroll-btn--right" aria-label="Scroll right" type="button">
        <svg class="subnav__scroll-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
    </button>
</nav>


