@model HealingInWriting.Models.Common.PrivacyPolicyViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/views/privacy-policy.css" asp-append-version="true" />

<main class="privacy-policy">
    <div class="privacy-policy__container">
        <h1 class="privacy-policy__title">Privacy Policy</h1>
        
        <div class="privacy-policy__content">
            @Html.Raw(Model.Content)
        </div>
        
        <div class="privacy-policy__footer">
            <p class="privacy-policy__updated">Last updated: @Model.LastUpdated.ToString("MMMM dd, yyyy")</p>
        </div>
    </div>
</main>
